p {
  color: orange;
  margin: 8px;
}

li {
  margin: 8px;
}

body {
  background-color: black;
  font-family: Times;
}

h3 {
  color: white;
}

img {
  max-width: 1000px;
  height: auto;
}

.projects {
  float: left;
}