p {
  color: orange;
  margin: 8px;
}

li {
  margin: 8px;
}

body {
  background-color: black;
  font-family: Times;
}

h3 {
  color: white;
}

img {
  max-width: 1000px;
  height: auto;
}

.projects {
  float: left;
  width: 20%;
  padding: 20px;
  border: solid blue;
  border-width: 20px;
  margin-bottom: 10px;
  box-sizing: border-box;
}