li {
  color: rgba(238, 164, 5, 0.884);
}

p {
  color: orange;
  margin: 8px;
}

li {
  margin: 8px;
}

body {
  background-color: black;
  font-family: Times;
}

.sectionhead {
  color: white;
  text-align: center;
}

#imgme1 {
  max-width: 45%;
  height: auto;
  float: right;
}

#imgme2 {
  max-width: 55%;
  height: auto;
}

.projects {
  float: left;
  width: 30%;
  padding: 20px;
  border: solid blue;
  border-width: 20px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.jumbotron {
  background-image: url(https://cdn.wallpaperhub.app/cloudcache/e/a/c/6/2/c/eac62c76e02cc1bc98cc85390fafb59318727394.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  color: white;
}

.sad {
  font-weight: 900;
  color: skyblue;
}

.card {
  background-color: grey;
  font-size: 24px;
  padding: 24px;
  margin-bottom: 10px;
}

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #ccc;
}

.content {
  display: none;
  overflow: hidden;
  background-color: grey;
}